<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>电器 </key>
	<array>
		<dict>
			<key>大电器 </key>
			<array>
				<string>空调</string>
				<string>电视</string>
				<string>烟机/灶具</string>
				<string>其他电器</string>
				<string>热水器</string>
			</array>
			<key>小电器</key>
			<array>
				<string>灯饰</string>
				<string>风扇</string>
				<string>垃圾处理器</string>
				<string>扫地机器人</string>
				<string>果汁机</string>
				<string>饮水机</string>
				<string>净水器</string>
				<string>其他电器</string>
			</array>
			<key>电子数码</key>
			<array>
				<string>手机</string>
				<string>智能设备</string>
				<string>数据线</string>
				<string>充电器</string>
				<string>存储卡</string>
				<string>耳机</string>
				<string>支架</string>
				<string>音箱</string>
				<string>数码相机</string>
				<string>其他数码</string>
			</array>
		</dict>
	</array>
	<key>特产</key>
	<array>
		<dict>
			<key>茶叶</key>
			<array>
				<string>红茶</string>
				<string>绿茶</string>
				<string>其他</string>
			</array>
			<key>酒水</key>
			<array>
				<string>白酒</string>
				<string>其他</string>
			</array>
			<key>肉制品</key>
			<array>
				<string>腊肉</string>
				<string>腊鱼</string>
				<string>其他</string>
			</array>
			<key>工艺品</key>
			<array>
				<string>传统工艺</string>
				<string>其他</string>
			</array>
			<key>特色零食</key>
			<array>
				<string>糖果</string>
				<string>糕点</string>
				<string>干果</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>户外运动</key>
	<array>
		<dict>
			<key>户外装备</key>
			<array>
				<string>帐篷垫子</string>
				<string>登山杖</string>
				<string>其他</string>
			</array>
			<key>体育用品</key>
			<array>
				<string>球类</string>
				<string>其他</string>
			</array>
			<key>其他</key>
			<array>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>礼品</key>
	<array>
		<dict>
			<key>时尚饰品</key>
			<array>
				<string>情侣礼品</string>
				<string>商务礼品</string>
				<string>其他</string>
			</array>
			<key>珠宝饰品</key>
			<array>
				<string>手饰</string>
				<string>头饰</string>
				<string>其他</string>
			</array>
			<key>玩具礼品</key>
			<array>
				<string>儿童玩具</string>
				<string>成人玩具</string>
				<string>其他</string>
			</array>
			<key>经典礼品</key>
			<array>
				<string>收藏品</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>家居用品</key>
	<array>
		<dict>
			<key>厨具</key>
			<array>
				<string>烹饪锅具</string>
				<string>剪切刀具</string>
				<string>厨房配件</string>
			</array>
			<key>生活日用</key>
			<array>
				<string>收纳用品</string>
				<string>清洁工具</string>
				<string>其他</string>
			</array>
			<key>水具茶具</key>
			<array>
				<string>杯壶罐</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>美妆</key>
	<array>
		<dict>
			<key>面部护理</key>
			<array>
				<string>面膜</string>
				<string>护肤</string>
				<string>清洁</string>
				<string>其他</string>
			</array>
			<key>身体护理</key>
			<array>
				<string>沐浴</string>
				<string>润肤</string>
				<string>颈部</string>
				<string>手足</string>
				<string>美胸</string>
				<string>塑性</string>
				<string>其他</string>
			</array>
			<key>洗发护理</key>
			<array>
				<string>洗发</string>
				<string>护发</string>
				<string>染发</string>
				<string>造型</string>
				<string>其他</string>
			</array>
			<key>美妆工具</key>
			<array>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>食品</key>
	<array>
		<dict>
			<key>休闲零食</key>
			<array>
				<string>糖果</string>
				<string>糕点</string>
				<string>饼干</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
